<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>single-page-boiler-plate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73AA2F131CB607DA00047C24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73AA2F271CB607DA00047C24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73AA2F321CB607DA00047C24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
